---
layout: layouts/home.njk
numberOfLatestPostsToShow: 3
---

<p>CrunchingNumbers is the result of thinking about great domain names on a Friday night. Now that I have this domain name, I have to do something with it. For now, it’s a place to explore and share everything that sparks my interest in programming and technology.</p>
{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/posts/">the archive</a>.</p>
{% endif %}
